/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.decorativ-icon-rec {
  position: absolute;
  text-transform: uppercase;
  line-height: 25px;
  color: var(--decorated-zone-rec);
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.decorativ-icon-rec::before {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decorated-zone-rec);
  box-shadow: 0 0 4px 3px var(--decorated-zone-rec);
  inset-block-start: 8px;
  inset-inline-end: -20px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorativ-icon-rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .decorativ-icon-rec::before {
    inset-block-start: 9px;
    inset-inline-end: -18px;
  }
}
