/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root.theme-dark {
  --bg-images: url(../images/cover-image-dark.png);
  --menu-color: #ff0070;
  --button-hover:#32312D66;
  --button-focus:#353430;
  --h1__title-color: #db00ff;
  --fonts-shadow: #ff0070;
  --bg-color: #000028;
  --section__title-color: #ff0070;
  --content__title--bg-color: #ff0070;
  --content__title--color: #000028;
  --content__text--color: #f1b2ce;
  --hover__anker: 2px solid #f1b2ce;
  --focus__anker: 1px solid #f1b2ce;
  --decorated-zone-color: #ff0070;
  --decorated-zone-rec: #ff0070;
}
